@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .rotate-y-neg-180 {
    transform: rotateY(-180deg);
  }

  .rotate-y-0 {
    transform: rotateY(0);
  }

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }

    80% {
      /* opacity: 1; */
      transform: translateX(1rem);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }

    80% {
      /* opacity: 1; */
      transform: translateX(-1rem);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  .move-in-left {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  .move-in-right {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  .move-in-bottom {
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }


}

.clip-path-custom {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.clip-path-card {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%)
}

.icon-basic-world {
  @apply text-green-600 text-5xl;
}

.icon-basic-heart {
  @apply text-green-600 text-5xl;
}

.icon-basic-home {
  @apply text-green-600 text-5xl;
}

.icon-basic-video {
  @apply text-green-600 text-5xl;
}

.heading-secondary {
  @apply text-4xl uppercase font-bold inline-block bg-gradient-to-r from-emerald-400 to-lime-500 bg-clip-text text-transparent tracking-[2px] transition-all;
  @apply hover:skew-y-1 hover:skew-x-12 hover:scale-[1.1];
}

.perspective-custom {
  perspective:150rem;
}

.backface-hidden {
  backface-visibility: hidden;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.move_to_center {
  @apply top-1/2 left-1/2 text-center -translate-x-1/2 -translate-y-1/2;
}